.mother {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
}

.sub-mother {
    display: flex;
}

.children{
    background-color: black;
    height: 100px;
    width: 100px;
    color: white;
    
}

.empty{
    margin-right: 5px;
}